saglik_yaninda/android/** linguist-vendored
saglik_yaninda/ios/** linguist-vendored
saglik_yaninda/linux/** linguist-vendored
saglik_yaninda/macos/** linguist-vendored
saglik_yaninda/windows/** linguist-vendored
saglik_yaninda/web/** linguist-vendored
